.headerBox{
    min-height: 135px;
    display: flex;
    align-items: center;
    padding: 0px 97px;
    .logoImg{
        width: 40%;
        height: 100%;
    }
    .nav{
        margin:0px 126px 0px 226px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .topBox{
            margin-left: 9px;
            color:#CFAC73;
            >span{
                font-size: 18px;
            }
            span:nth-child(1){
                width: 144px;
                background: #CFAC73;
                border-radius: 10px;
                color: #FFFFFF;
                margin-right: 44px;
                padding: 0px 8px;
            }
            span:nth-child(2){
                margin-right: 11px;
            }
        }
        .navBottom{
            >li{
                font-size: 18px;
                color: #222222;
                padding:20px 20px;
            }
        }
    }
}